@font-face {
  font-family: Centra;
  src: url('./assets/fonts/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('./assets/fonts/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('./assets/fonts/CentraNo2-Book.ttf');
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body{
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff;
  font-family: 'Centra', sans-serif !important; 
}

.social-icon a::before{
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

ul li {
  display: block;
}

.App{
  text-align: center;
}

.navo{
  background-color: #121212;
}

.logo-complete{
  display: flex;
}

.logo{
  width: 55px;
  height: 55px;
}

.julioS{
  margin-left: 5px;
  background-color: #212529;
  color: #fff;
  border: none;
  height: 55px;
  width: 100px;
  text-align: start;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  padding-top: 8px;
}

.skills , .projects{
  min-height: calc(100vh - 221px);
}

.animated-title{
  min-height: 60px;
}

.darken{
  background-color: #121212;
  color: #fff;
}

.darken:active {
  background-color: #212529;
  color: #fff;
}

.accordion-body{
  margin-top: 20px;
}

.accordion-header , .accordion-button{
  background-color: #1f1f1f !important;
  color: white !important;
  border-radius: 5px !important;
}

.courses{
  text-align: start;
}

#navbarNav { 
  margin-left: 180px;
}

.banner img{
  animation: updown 3s linear infinite;
}

@keyframes updown{
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.footer{
  background-color: #212529;
  color: #fff;
  height: 150px;
}

@media (max-width: 1195px){

  .animated-title{
    min-height: 105px;
  }

}

@media (max-width: 768px){

  .animated-title{
    min-height: 60px;
  }

}




